<!DOCTYPE html>
<html>
  <head>
    <title>To Do List App</title>
    <link rel='stylesheet' rel='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel='stylesheet' rel='css/styles.css'>
  </head>
  <nav>
    <a href='/'>Home</a>
  </nav>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
